<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content("IE=edge")>
<meta name="viewport" content="width=device-width", initial-scale="1.0">
<title>MELI RETO</title>
</head>

<body>
<h1>Challenge POKE API</h1>
<h2>hola {{email}}</h2>
<h2><a href="http://localhost:5000/tipo">Obtener el tipo de un Pokémon (fuego, agua, tierra, aire, etc) según su nombre.</a></h2>
<h2><a href="http://localhost:5000/azar">Obtener un Pokémon al azar de un tipo en específico</a></h2>
<h2><a href="http://localhost:5000/largo">Obtener el Pokémon con nombre más largo de cierto tipo.</a></h2>
<p></p>
<p></p>
<h3><a href="http://localhost:5000/login">iniciar sesion</a></h2>
<p></p>
<p></p>
<h3><a href="http://localhost:5000/logout">cerrar sesion</a></h2>


</body>





</html>